:root {
  --black: #000;
  --white: #fff;
  --text-color: #0a55d6;
  --primary-color: #003399;
  --green: rgb(14, 205, 30);
  --blue: blue;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body {
  font-family: var(--font-family);
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--text-color);
  /* background-image: url("./img/hh01.jpg") no-repeat center center/cover; */
}

.app {
  width: 100%;
  height: 750px;
  display: flex;
  flex-direction: column;
  background: url("../img/background-details.jpg") no-repeat center center/cover;
}

.header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
}

.header-title {
  font-size: 3rem;
}

.container {
  width: 100%;
  height: 100%;
}

.menu {
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search-form {
  text-align: center;
  padding: 1rem;
}

.btn {
  width: 150px;
  height: 50px;
  border-radius: 30px;
  border: 2px solid var(--primary-color);
  outline: none;
  cursor: pointer;
  outline: none;
  color: var(--primary-color);
  margin: 10px 5px 10px 5px;
  line-height: 1;
}

.btn-search {
  margin-top: 1px;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.text {
  line-height: 2.4rem;
  font-size: 2rem;
  font-weight: 500;
  text-decoration: none;
}

.map-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
}

.none {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.app input,
button {
  padding: 0.7rem 1.5rem;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.1);
}

.search-input {
  height: 50px;
  width: 70%;
  border: 2px solid var(--primary-color);
  background-color: var(--white);
  outline: none;
  padding-left: 5px;
  color: var(--primary-color);
  font-weight: 500;
  font-size: 1.8rem;
}

::placeholder {
  font-weight: 300;
  color: var(--primary-color);
}

.err-msg {
  font-size: 2.5rem;
  color: red;
  text-align: center;
}

.details {
  margin-left: 20px;
  text-transform: capitalize;
  width: 500px;
  border-radius: 6px;
  box-shadow: 10px -2px 20px 2px rgb(0 0 0 0 / 30%);
  color: #fff;
  background-color: #0889ee;
  margin: 20px auto 0 auto;
  padding: 0 20px 20px 20px;
}

.err {
  display: flex;
  justify-content: center;
  font-weight: 500;
}

.top,
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.place {
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  margin: 0;
  letter-spacing: 1px;
}

.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  margin: 0;
}

.weather-icon {
  width: 100px;
}

.temp {
  font-weight: 600;
  font-size: 70px;
  width: auto;
  letter-spacing: -5px;
  margin: 10px 0;
}

.more-details {
  width: 100%;
  padding-left: 20px;
}

.parameter-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.parameter-label {
  text-align: left;
  font-weight: 400;
  font-size: 1.5rem;
  padding-left: 15px;
}

.parameter-value {
  text-align: right;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1;
}
